body {
    margin: 0 px;
    padding: 0 px;
    font-size: 12px;
    /*    overflow-x: hidden;*/
    /*    overflow-y: hidden;    */
}

/*
#try{ 
margin-top: 40%;
}
*/
.main {
    padding - top: 3 rem;
    width: 100 % ;
}
.card-body{
    text-align: center;
    background-color: #efefef;
    margin-top: 8%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}
.container {
    margin: 0 px auto;
}
.container1 {
    margin: 0 px auto;
}#
home - section2 {
    background - image: url(images / background - books - bookshelves - 1deletebutton193603. jpg);
    background - repeat: no - repeat;
    background - size: cover;
}
.navbar - custom {
    background - color: #ffFFFF;
}#
home - section1 {
    background - image: url(images / background - books - bookshelves - 1193603. jpg);
    background - repeat: no - repeat;
    background - size: cover;
    /*    width: 100%;*/
    /*    min-height: 800px;*/
}#
pagbutton {
    margin - left: 200 px;
}#
userimage {
    max - height: 20 rem;
    max - width: 20 rem;
}#
forinline {
    display: inline - block;
}
.fontcolor {
    color: black;
    font - weight: 30 px;
}#
upd {
    width: 800 px;
}
.card - body {
    margin - top: 5 rem;
    max - width: 30 % ;
    max - height: 50 rem;
    background - color: #b3b7bb;
    opacity: 0.8;
    text - align: center;
    border - radius: 16 px;
}
h2 {
    font - size: 350 % ;
    color: black;
}
h3 {
    font - family: 'Dosis', sans - serif;
}
input {
    margin - bottom: 0 % ;
}
input[type = checkbox] {
    width: 20 px;
    height: 20 px;
}
h6 {
    display: inline - block;
    font - size: 25 px;
    color: black;
    margin - left: 3 % ;
}
.select2 - container--
default.select2 - selection--multiple.select2 - selection__rendered {
    padding: 6 px 5 px!important;
}
.assignbutton {
    box - shadow: 2 px 2 px 2 px 1 px rgba(0, 0, 0, 0.2);
    background - color: white;
    border: 2 px solid# BABABA;
}
input[type = button]: hover {
    background - color: red;
}
.navbar - brand img {
    width: 60 % ;
    margin: auto;
    max - height: 55 px;
}
ul# userpagin {
    display: inline - flex;
}
ul# pagin {
    display: inline - flex;
}
.nav - link {
    font - size: 160 % ;
    margin: 6 px
}
.navbar {
    background - color: #333;
}

.offset-md-3{
    padding-left: 6rem;
}
.offset-sm-3{
    padding-left: 6rem;
}

a.navbar-brand-1{
    font-size: 40px;
}

table{
    font-size: 150%;
    background-color: rgba(0,0,0,0.5);
}
.table td{
    padding:0.15rem; 
}
.modal{
    text-align: center;
}
.ml-3, .mx-3 {
    margin-left: 4rem!important;
}
.modal-content{
    color: black;
    background-color:# b3b7bb;
    opacity: ;
    min - height: 200 px;
    border - radius: 16 px;
}
h4.modal - title {
    font - size: 300 % ;
}
.ml - 5, .mx - 5 {
    margin - left: 8 rem!important;
}
.ml - 4, .mx - 4 {
    margin - left: 5.5 rem!important;
}#
skills {
    display: inline - block;
    margin: 2 rem 2 rem 0 rem 0 rem;
    font - size: 1.5 rem;
    font - family: 'Shadows Into Light',
        cursive;
}

@media only screen and(max - width: 991 px) {
    .card - body {
        margin - top: 20 % ;
        min - width: 600 px;
        min - height: % ;
        background - color: #b3b7bb;
        text - align: center;
    }
    button.btn {
        width: 95 % ;
        margin - top: 2 % ;

    }
    .modal - dialog {
        margin: 0 px;
        max - width: 96 % ;
        margin - top: 200 px;
    }
    i.fas, i.fab {
        display: none;
    }#
    home - section {
        height: 1330 px;
    }
    .dark - overlay {
        height: 1330 px;
    }
    .ml - 5, .mx - 5 {
        margin - left: 0.5 rem!important;
    }
    .h3, h3 {
        font - size: 3.75 rem;
    }
    h4.modal - title {
        font - size: 300 % ;
    }
    .form - control - lg {
        font - size: 1.25 rem;
    }
    .btn - group - lg > .btn, .btn - lg {
        font - size: 1.50 rem;
    }
    h4.modal - title {
        font - size: 421 % ;
    }
    .ml - 3, .mx - 3 {
        margin - left: 0.5 rem!important;
    }
    .ml - 4, .mx - 4 {
        margin - left: 0.5 rem!important;
    }
    .ml - 2, .mx - 2 {
        margin - left: 0 rem!important;
    }



}
@media only screen and(max - width: 480 px) {
    #
    logo {
        width: 100 % ;
    }
    .card - body {
        margin - top: 20 % ;
        min - width: 100 % ;
        min - height: % ;
        background - color: #b3b7bb;
        text - align: center;
    }
}
@media only screen and(min - width: 991 px) {
    a.navbar - brand - 1 {
        font - size: 200 px;
        margin - top: 30 % ;
        left: 50 % ;
    }
}




table {
    position: absolute;
    left: 15 % ;
    right: 25 % ;
    top: 30 % ;
    text - align: center;
    border: none;

}

th, td {
    color: black;
    padding: 16 px;
}

#deletebutton:hover {
    background: red;
}
#editbutton:hover {
    background: orange;
}


